<!doctype html>
<html lang="esp">
  <head>
    {% load static %}
    <link rel="stylesheet" href='{% static "zavic/bootstrap-4.6.1-dist/css/bootstrap.min.css" %}' type="text/css"/>
    <script src='{% static "zavic/jquery/jquery-3.6.0.min.js" %}'></script>
    <script src='{% static "zavic/bootstrap-4.6.1-dist/js/bootstrap.min.js" %}'></script>
  </head>

  <body>
    <div class="container">
      <div class="row">
          <div class="col-md-12 mt-5"> <h4> Respuestas </h4> </div>
        </div>
        <div class="row my-3 alert {% if profile.result == 'aprobado' %} alert-success {% else %} alert-danger {% endif %} justify-content-center" style="text-transform: uppercase">
        <b>  {{profile.result}} </b>
        </div>
        <div class="row mb-3">
          <div class="col-md-6" style="border-right: 2px solid #626363"> <!-- empieza la columna izquieda -->
            <div class="row">
              <div class="col-md-4 d-flex justify-content-end pr-0">
                ID BOS:
              </div>
              <div class="col-md-8">
                <input type="text" class="form-control" name="customer_id" value="{{profile.customer_id}}">
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-4 d-flex justify-content-end pr-0">
                Edad:
              </div>
              <div class="col-md-8">
                <input type="number" class="form-control" name="age" value="{{profile.age}}" max="100" min="18">
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-4 d-flex justify-content-end pr-0">
                Nivel Educativo:
              </div>
              <div class="col-md-8">
                <select class="form-control" name="edu_level">
                  <option value="">--- SELECCIONE ---</option>
                  {% for level in education %}
                  <option value="{{level.id}}" {% if profile.edu_level_id == level.id %} selected {% endif %}>{{level.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-4 d-flex justify-content-end pr-0">
                Estado Civil:
              </div>
              <div class="col-md-8">
                <select class="form-control" name="marital">
                  <option value="">--- SELECCIONE ---</option>
                  {% for status in marital %}
                  <option value="{{status.id}}" {% if profile.marital_status_id == status.id %} selected {% endif %}>{{status.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-4 pr-0" style="text-align: right">
                Coincidendia <br> INE-Comprobante:
              </div>
              <div class="col-md-8">
                <select class="form-control" name="ine">
                  <option value="">--- SELECCIONE ---</option>
                  {% for opt in ine %}
                  <option value="{{opt.id}}" {% if profile.INE_coincidence_id == opt.id %} selected {% endif %}>{{opt.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-4 d-flex justify-content-end pr-0">
                Tiempo en vivienda:
              </div>
              <div class="col-md-8">
                <select class="form-control" name="housing_time">
                  <option value="">--- SELECCIONE ---</option>
                  {% for opt in h_time %}
                  <option value="{{opt.id}}" {% if profile.housing_time_id == opt.id %} selected {% endif %}>{{opt.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-4 d-flex justify-content-end pr-0">
                Con quién vive:
              </div>
              <div class="col-md-8">
                <select class="form-control" name="housing_mates">
                  <option value="">--- SELECCIONE ---</option>
                  {% for opt in h_mates %}
                  <option value="{{opt.id}}" {% if profile.housing_mates_id == opt.id %} selected {% endif %}>{{opt.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-4 d-flex justify-content-end pr-0">
                Tipo de vivienda:
              </div>
              <div class="col-md-8">
                <select class="form-control" name="housing_type">
                  <option value="">--- SELECCIONE ---</option>
                  {% for opt in h_type %}
                  <option value="{{opt.id}}" {% if profile.housing_type_id == opt.id %} selected {% endif %}>{{opt.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-4 pr-0" style="text-align: right">
                Dependientes económicos:
              </div>
              <div class="col-md-8">
                <select class="form-control" name="eco_dependents">
                  <option value="">--- SELECCIONE ---</option>
                  {% for opt in eco_de %}
                  <option value="{{opt.id}}" {% if profile.eco_dependents_id == opt.id %} selected {% endif %}>{{opt.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-4 d-flex justify-content-end pr-0">
                Ocupación previa:
              </div>
              <div class="col-md-8">
                <select class="form-control" name="prev_occupation">
                  <option value="">--- SELECCIONE ---</option>
                  {% for opt in o_prev %}
                  <option value="{{opt.id}}" {% if profile.prev_occupation_id == opt.id %} selected {% endif %}>{{opt.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-4 d-flex justify-content-end pr-0">
                Otra fuente de ingresos:
              </div>
              <div class="col-md-8">
                <input type="radio" name="other_income" value="True" id="si_i" {% if profile.other_source_income_id == 1 %} checked {% endif %}>
                <label for="si_i">Sí</label> &nbsp;&nbsp;&nbsp;
                <input type="radio" name="other_income" value="False" id="no_i" {% if profile.other_source_income_id == 2 %} checked {% endif %}>
                <label for="no_i">No</label>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-4 pr-0" style="text-align: right">
                Tiempo registrado en plataforma:
              </div>
              <div class="col-md-8">
                <select class="form-control" name="registered_time">
                  <option value="">--- SELECCIONE ---</option>
                  {% for opt in plattime %}
                  <option value="{{opt.id}}" {% if profile.registered_time_id == opt.id %} selected {% endif %}>{{opt.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-4 pr-0" style="text-align: right">
                Tiempo conduciendo continuo:
              </div>
              <div class="col-md-8">
                <select class="form-control" name="driving_time">
                  <option value="">--- SELECCIONE ---</option>
                  {% for opt in d_time %}
                  <option value="{{opt.id}}" {% if profile.driving_time_id == opt.id %} selected {% endif %}>{{opt.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-4 pr-0" style="text-align: right">
                Alta en plataforma:
              </div>
              <div class="col-md-8">
                <select class="form-control" name="plat_type">
                  <option value="">--- SELECCIONE ---</option>
                  {% for opt in plattype %}
                  <option value="{{opt.id}}" {% if profile.plat_type_id == opt.id %} selected {% endif %}>{{opt.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-4 pr-0" style="text-align: right">
                A quién le depositaban ganancias:
              </div>
              <div class="col-md-8">
                <select class="form-control" name="earnings">
                  <option value="">--- SELECCIONE ---</option>
                  {% for opt in earns %}
                  <option value="{{opt.id}}" {% if profile.earnings_id == opt.id %} selected {% endif %}>{{opt.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-4 pr-0" style="text-align: right">
                Calificación en plataforma:
              </div>
              <div class="col-md-8">
                <input type="text" class="form-control" name="plat_score" value="{{profile.plat_score}}">
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-4 pr-0" style="text-align: right">
                Expresión del enojo:
              </div>
              <div class="col-md-8">
                <select class="form-control" name="anger_exp">
                  <option value="">--- SELECCIONE ---</option>
                  {% for opt in aexp %}
                  <option value="{{opt.id}}" {% if profile.anger_exp_id == opt.id %} selected {% endif %}>{{opt.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-4 pr-0" style="text-align: right">
                Criterio de violencia:
              </div>
              <div class="col-md-8">
                <select class="form-control" name="vio_criteria">
                  <option value="">--- SELECCIONE ---</option>
                  {% for opt in violence %}
                  <option value="{{opt.id}}" {% if profile.vio_criteria_id == opt.id %} selected {% endif %}>{{opt.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-4 pr-0" style="text-align: right">
                Antecedentes penales o legales:
              </div>
              <div class="col-md-8">
                <select class="form-control" name="legal_back">
                  <option value="">--- SELECCIONE ---</option>
                  {% for opt in legal %}
                  <option value="{{opt.id}}" {% if profile.legal_back_id == opt.id %} selected {% endif %}>{{opt.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div> <!-- termina la columna izquieda -->
          <div class="col-md-6"> <!-- empieza la columna derecha -->
            <div class="row">
              <div class="col-md-4 d-flex justify-content-end pr-0">
                Control del enojo:
              </div>
              <div class="col-md-8">
                <input type="number" class="form-control" name="anger_mgmt" value="{{profile.anger_mgmt}}">
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-4 d-flex justify-content-end pr-0">
                Tendencia a incumplir:
              </div>
              <div class="col-md-8">
                <input type="number" class="form-control" name="default_tendency" value="{{profile.default_tendency}}">
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-4 d-flex justify-content-end pr-0">
                Uso de palabras fuertes:
              </div>
              <div class="col-md-8">
                <input type="number" class="form-control" name="strong_words" value="{{profile.strong_words}}">
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-4 pr-0" style="text-align: right">
                Inversión de tiempo y esfuerzo:
              </div>
              <div class="col-md-8">
                <input type="number" class="form-control" name="time_effort_inv" value="{{profile.time_effort_inv}}">
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-4 d-flex justify-content-end pr-0">
                Enojo fácil:
              </div>
              <div class="col-md-8">
                <input type="number" class="form-control" name="quick_anger" value="{{profile.quick_anger}}">
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-4 pr-0" style="text-align: right">
                Quedarse objetos ajenos:
              </div>
              <div class="col-md-8">
                <input type="number" class="form-control" name="keeping_objs" value="{{profile.keeping_objs}}">
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-4 d-flex justify-content-end pr-0">
                Tendencia a robo:
              </div>
              <div class="col-md-8">
                <input type="number" class="form-control" name="steal_tendency" value="{{profile.steal_tendency}}">
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-4 pr-0" style="text-align: right">
                Sacar adelante el trabajo:
              </div>
              <div class="col-md-8">
                <input type="number" class="form-control" name="get_job_done" value="{{profile.get_job_done}}">
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-4 pr-0" style="text-align: right">
                Se considera despreocupado:
              </div>
              <div class="col-md-8">
                <input type="number" class="form-control" name="unconcerned" value="{{profile.unconcerned}}">
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-4 pr-0" style="text-align: right">
                Tendencia a actuar sin pensar:
              </div>
              <div class="col-md-8">
                <input type="number" class="form-control" name="unthink_tendency" value="{{profile.unthink_tendency}}">
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-4 d-flex justify-content-end pr-0">
                Tendencia a mentir:
              </div>
              <div class="col-md-8">
                <input type="number" class="form-control" name="lie_tendency" value="{{profile.lie_tendency}}">
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-4 pr-0" style="text-align: right">
                Tendencia a no hacer caso:
              </div>
              <div class="col-md-8">
                <input type="number" class="form-control" name="disregard_tendency" value="{{profile.disregard_tendency}}">
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-4 d-flex justify-content-end pr-0">
                Disfruta la adrenalina:
              </div>
              <div class="col-md-8">
                <input type="number" class="form-control" name="enjoys_adrenaline" value="{{profile.enjoys_adrenaline}}">
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-4 pr-0" style="text-align: right">
                Gusto por manejar a velocidad:
              </div>
              <div class="col-md-8">
                <input type="number" class="form-control" name="enjoys_fast_driving" value="{{profile.enjoys_fast_driving}}">
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-4 d-flex justify-content-end pr-0">
                Manejar a velocidad:
              </div>
              <div class="col-md-8">
                <input type="number" class="form-control" name="drives_fast" value="{{profile.drives_fast}}">
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-4 d-flex justify-content-end pr-0">
                Tardó en dar respuestas:
              </div>
              <div class="col-md-8">
                <input type="radio" name="late_response" value="True" id="si_l"  {% if profile.took_time_respond_id == 1 %} checked {% endif %}>
                <label for="si_l">Sí</label> &nbsp;&nbsp;&nbsp;
                <input type="radio" name="late_response" value="False" id="no_l" {% if profile.took_time_respond_id == 2 %} checked {% endif %}>
                <label for="no_l">No</label>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-4 d-flex justify-content-end pr-0">
                Perfil estable:
              </div>
              <div class="col-md-8">
                <input type="number" class="form-control" name="stable_profile" value="{{profile.stable_profile}}">
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-4 d-flex justify-content-end pr-0">
                Perfil pasivo-agresivo:
              </div>
              <div class="col-md-8">
                <input type="number" class="form-control" name="pasive_agresive_profile" value="{{profile.pasive_agresive_profile}}">
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-4 d-flex justify-content-end pr-0">
                Perfil impulsivo:
              </div>
              <div class="col-md-8">
                <input type="number" class="form-control" name="impulsive_profile" value="{{profile.impulsive_profile}}">
              </div>
            </div>
          </div> <!-- termina la columna derecha -->
        </div>
      <div class="row">
        <a href="{% url 'home' %}" class="btn btn-primary mr-5"> Home</a>
      </div>
    </div> <!-- container -->
  </body>

<script type="text/javascript">

</script>
</html>
